:root {
  --vp-c-brand: #a27b5c;
  --vp-c-brand-light: #a27b5c;
  --vp-c-brand-dark: #a27b5c;

  --vp-c-bg: #faf6f1;
  --vp-c-hover: #212121;
  --vp-c-bg-alpha-with-backdrop: rgba(250, 246, 241, 0.7);
  --vp-c-bg-soft: rgba(0, 0, 0, 0.2);
  --vp-avator-border: #ffffff;

  --custom-c-border: #3f4e4f;
  --custom-w-max-posts-list: 600px;
  --custom-c-btn: #a15000;
}
.dark {
  --vp-c-bg: #2c3639;
  --vp-c-hover: #ffffff;
  --vp-c-bg-alpha-with-backdrop: rgba(44, 54, 57, 0.7);
  --vp-avator-border: #3f4e4f;
}

#app {
  min-height: 100vh;
}
